/*
body {
  font-family: Georgia, serif;
}

header {
  background-image: url("img/food-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0px;
}

.text-gold {
  color: #c90;
}

#header-title {
  color: rgba(255, 255, 255, 0.80);
}

nav {
  font-family: Georgia, serif;
}

#logo {
  max-width: 10rem;
}

#see-the-menu:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

#food-bg-2 {
  background-image: url("img/ingredients-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0px;
}

.text-block {
  background-color: rgba(0, 0, 0, 0.8);
}

.pasta {
  max-width: 67px;
}

#menus {
   width: 100%;
   background-size: cover;
}

#menu {
   margin: auto;
   text-align: center;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 30px 50px 50px 50px;
}

#menu h2 {
   color: #dab33e;
}

#menu section {
   width: 42%;
}

#menu img {
   margin-bottom: 35px;
}

.ligne-prix {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #dab33e;
   padding-bottom: 7px;
}

.plat, .prix {
   font-family: Georgia, serif;
   font-weight: 400;
   color: #dab33e;
   text-align: justify;
}

#menu p {
   text-align: left;
   margin-top: 15px;
}

.content-block {
  padding-top: 70px;
}

#food-bg-3 {
  background-image: url("img/food-bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0px;
}

.rounded-btn{
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
}

#btn-gold{
  background-color: #c90;
}

#btn-gold:hover{
  background-color: #a37a00;
  color: white;
}

#map {
  width: 1100px;
  height: 450px;
   margin: 0 auto 0.1px;
}

footer{
  background-color: rgba(0, 0, 0, 0.9);
}

.decor-small{
  max-width: 192px;
}
*/

/* GENERAL SETTINGS */
html {
	height: 100%;
}
body {
	min-height: 100%;
	font-family: Georgia, serif;
  font-size: calc(1em + 0.5vw); /* 16px + 6.38px */
	font-weight: 400;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	position: relative;
	scroll-behavior: smooth;
}
h1 {
	font-weight: lighter;
	color: #fff;
}
h2 {

}
h5 {
	font-weight: lighter;
	color: #fff;
}
p, label, input, select {
	font-size: calc(0.5em + 0.5vw);
}
p {
	color: #fff;
}
label {
	font-weight: bold;
	color: #6c757d;
}
input, select {
	color: #495057;
	height: calc(1.5em + 0.75rem + 2px);
	background-color: #fff;
	background-clip: padding-box;
	border: 0.0625em solid #ced4da;
	border-radius: 0.25rem;
	display: block;
}
.decoration {
	width: calc(11.625em + 0.5vw); /* 186px */
	height: auto;
}

/* HEADER SECTION */
header {
  min-height: 100vh;
	padding-bottom: 2rem; /* 32px */
  background-image: url("./img/food-bg-1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* fixed top navbar */
.navbar-container {
	width: 100%;
	top: 0;
	position: fixed;
	overflow: hidden;
	background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.001));
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: center;
}
.logo img {
	width: calc(10em + 0.5vw); /* 160px */
	height: auto;
	padding: 0.5rem 0 0 2rem; /* 8px 32px */
}
.navbar-container .navbar-content {
	display: flex;
	flex-flow: row wrap;
	align-content: center;
}
.navbar-content ul {
	margin:	auto;
	padding: 0.5rem 2rem 0 0; /* 8px 32px */
	display: inline-flex;
	list-style-type: none;
	text-decoration: none;
}
.navbar-content a {
	padding: 0 0.5rem; /* 8px */
	font-size: calc(0.625em + 0.25vw); /* 10px */
	font-weight: bold;
	color: #ddd;
	text-decoration: none;
}
.navbar-content a.active-item {
  color: #fff;
}
.navbar-content a:hover {
	color: #fff;
	transition: all 0.3s;
}
.navbar-content li:last-child {
	display: none;
}
.navbar-content li:last-child > a {
	border: 0.0625em solid rgba(255,255,255,0.4);
	font-size: calc(1.5em + 0.25vw);
}
/* md screens */
@media (max-width: 767px) {
	.logo {
		padding: 1.125rem 0 0 0.25rem;
	}
	.navbar-content ul {
		margin: 0;
		padding: 3rem 1rem;
		flex-flow: column nowrap;
		align-items: center;
	}
	.navbar-content li:not(:last-child) {
		padding-top: 0.5rem;
		display: none;
	}
  .navbar-content li:last-child {
		float: right;
		display: flex;
		order: -1;
  }
	.navbar-content.responsive {
		position: relative;
	}
  .navbar-content.responsive li:not(:last-child) {
    display: flex;
		float: right;
  }
}

/* header title */
.header-container {
	padding-top: 11.1010625rem; /* 177.617px */
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	text-align: center;
}
.header-title {
	display: flex;
	flex-flow: column wrap;
}
.header-title img {
	height: auto;
	margin: -2rem auto;
}
.header-container .main-title {
	margin-top: 5rem; /* 80px */
  font-size: calc(3.0625em + 0.5vw); /* 50px */
  font-weight: normal;
  color: #ddd;
	text-align: center;
}
.header-buttons {
	padding-top: 1.3125rem;
	display: flex;
	justify-content: center;
}
.header-buttons a {
	margin: 2rem 1rem;
	padding: 0.75rem; /* 12px */
}
.header-buttons button {
	padding: 0.75rem; /* 12px */
	background-color: transparent;
	border: 0.0625em solid #ddd;
	font-size: calc(0.625em + 0.5vw); /* 10px */
	color: #ddd;
	text-transform: uppercase;
	cursor: pointer;
}
.header-buttons .menu-button {
	border: none;
}
.header-buttons .menu-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
}
/* sm screens */
@media (max-width: 479px) {
	.header-buttons {
		flex-flow: column wrap;
	}
	.header-buttons a:first-child {
		margin: 2rem 1rem 0.125rem 1rem;
	}
	.header-buttons a:last-child {
		margin: 1rem;
	}
}

/* ABOUT SECTION */
#aboutSection {
  min-height: 100vh;
	margin: 5rem 2rem 0 2rem; /* 80px 32px */
	padding-top: 8.6875rem; /* 139px */
  background-color: #fff;
	text-align: center;
}
.about-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.about-text {
	display: flex;
	flex-flow: column wrap;
	flex: 0 0 50%;
	align-content: center;
	align-items: center;
}
.aboutParagraph {
	width: 70%;
}
.aboutParagraph p {
  color: #6c757d;
}
.about-photo {
	display: flex;
	flex-flow: row nowrap;
	flex: 0 0 50%;
	justify-content: center;
}
.about-text .about-title {
  color: #c90;
}
.about-photo .dish-photo {
	width: 80%;
	height: auto;
}
/* lg screens */
@media (max-width: 991px) {
	.aboutParagraph {
		width: 80%;
	}
}
/* md screens */
@media (max-width: 767px) {
	.about-container {
		flex-direction: column;
	}
	.aboutParagraph {
		width: 55%;
	}
}
/* sm screens */
@media (max-width: 575px) {
	.aboutParagraph {
		width: 75%;
	}
}
/* xs screens */
@media (max-width: 419px) {
	.aboutParagraph {
		width: 90%;
	}
}

/* INGREDIENTS SECTION */
#ingredientSection {
  min-height: 100vh;
  background-image: url("./img/ingredients-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	text-align: center;
}
.ingredients-container {
	padding-top: 8.6875rem; /* 139px */
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
}
.ingredients-empty {
	max-width: 50%;
	display: flex;
	flex: 0 0 50%; /* grow shrink basis */
}
.ingredients-text {
	max-width: 50%;
	margin-left: -1rem;
	margin-right: 3rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
}
.ingredients-title {
	white-space: nowrap;
}
.ingredients-text p {
	padding-bottom: 2rem;
}
.pastas {
	margin-left: 3rem;
	margin-right: 3rem;
	display: flex;
	justify-content: space-around;
}
.pastas > img {
	max-width: 4rem;
}
.pastas > img:first-child {
	padding-right: 2rem;
}
.pastas > img:last-child {
	padding-left: 2rem;
}

/* lg screens */
@media (max-width: 991px) {
	.ingredients-text p {
	  font-size: calc(0.625em + 0.5vw);
	}
}
/* md screens */
@media (max-width: 767px) {
	.ingredients-container {
		display: flex;
		flex-flow: column wrap;
	}
	.ingredients-text {
		margin: 0;
	}
	.ingredients-empty {
		display: none;
	}
}
/* sm screens */
@media (max-width: 575px) {
	.ingredients-text {
		max-width: 80%;
	}
}

/* MENU SECTION */
#menuSection {
  min-height: 100vh;
	padding-bottom: 1rem;
  background-color: #fff;
	text-align: center;
}
.menu-container {
	padding-top: 8.6875rem; /* 139px */
	padding-bottom: 2rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: center;
}
.menu-item {
	display: flex;
	flex-flow: column wrap;
	flex: 0 0 45%;
}
.menu-item img {
	padding-bottom: 2rem;
}
.menu-item .menu-title, .menu-item span {
	color: #c90;
}
.menu-title {
	font-weight: lighter;
}
.menu-item p {
	color: #000;
	text-align: left;
}
.dish, .price {
  font-family: Georgia, serif;
  font-weight: 400;
  color: #dab33e;
  text-align: justify;
}
.price-line {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625em solid #dab33e;
  padding-bottom: 0.4735rem;
}
/* md screens */
@media (max-width: 767px) {
	.menu-container {
		flex-flow: column wrap;
	}
}

/* REVIEWS SECTION */
#reviewSection {
  min-height: 100vh;
  background-image: url("./img/food-bg-2.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	text-align: center;
}
.review-container {
	padding-top: 8.6875rem; /* 139px */
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.review-carousel {
	max-width: 40%;
	padding-bottom: 2rem;
	background-color: rgba(0,0,0,0.8);
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}
.review-carousel img {
	padding-bottom: 1rem;
}
.review-carousel small {
	font-size: calc(0.5625em + 0.5vw); /* 9px */
	color: #6c757d;
}
.indicators {
	border-radius: 50%;
	font-size: calc(0.25em + 0.5vw);
	color: #fff;
	cursor: pointer;
	transition: color 0.6s ease;
}
/* lg screens */
@media (max-width: 991px) {
	.review-carousel {
		max-width: 40%;
	}
}
/* md screens */
@media (max-width: 767px) {
	.review-carousel {
		max-width: 50%;
	}
}
/* sm screens */
@media (max-width: 575px) {
	.review-carousel {
		max-width: 60%;
	}
}
/* xs screens */
@media (max-width: 479px) {
	.review-carousel {
		max-width: 80%;
	}
}

/* RESERVATION SECTION */
#reservationSection {
	min-height: 100vh;
}
#reservation-container {
	padding-top: 8.6875rem; /* 139px */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.meals {
	display: flex;
}
.meal-item {
	max-width: 80%;
	height: auto;
	margin: 0.125rem;
	padding: 0.25rem;
	border-radius: 0.5rem;
}
.reservation-form {
	display: flex;
	flex-flow: column wrap;
	flex: 0 0 45%;
	align-items: center;
}
.reservation-text {
	text-align: center;
}
.reservation-form form {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.reservation-costumer {
	width: 100%;
	display: flex;
	justify-content: space-around;
	text-align: left;
}
.costumer-information {
	display: flex;
	flex-flow: column nowrap;
	flex: 0 0 45%;
}
.book-btn {
	margin: 2rem;
	padding: 1rem;
	background-color: #c90;
	border: none;
	color: #fff;
	cursor: pointer;
}
.book-btn:hover{
  background-color: #a37a00;
}
.reservation-form .reservation-title {
	color: #c90;
}
.reservation-form p {
	font-size: calc(0.4375em + 0.5vw);
	color: #6c757d;
}
/* md screens */
@media (max-width: 767px) {
	#reservation-container {
		flex-direction: column;
	}
	.meals {
		padding: 1rem 0;
		order: 2;
	}
	.reservation-form {
		max-width: 70%;
	}
	.reservation-costumer {
		flex-flow: column;
	}
}

/* CONTACT SECTION */
footer {
  min-height: 100vh;
	padding: 2rem;
	background-color: #000;
	text-align: center;
}
.contact-container {
	padding: 8.6875rem 4rem 4rem; /* 139px */
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
}
.contact-container .contact-item {
	display: flex;
	flex-flow: column nowrap;
	flex: 1 1 50%;
}
.contactParagraph {
	width: 80%;
	display: flex;
	align-self: center;
}
.contact-item p {
	color: #6c757d;
}
.contact-item span {
	color: #fff;
}
.contact-item .social-media-icons {
	color: #fff;
}
/* lg screens */
@media (max-width: 991px) {
	footer {
		padding: 1rem;
	}
	.contact-container {
		padding: 4rem 0;
	}
	.contactParagraph {
		width: 80%;
	}
}
/* md screens */
@media (max-width: 767px) {
	footer {
		padding: 2rem;
	}
	.contact-container {
		padding: 4rem;
		flex-flow: column wrap;
	}
	.contactParagraph {
		width: 55%;
	}
}
/* sm screens */
@media (max-width: 575px) {
	.contactParagraph {
		width: 75%;
	}
}
/* xs screens */
@media (max-width: 419px) {
	.contactParagraph {
		width: 90%;
	}
}

/* MAP SECTION */
.map-responsive{
	padding-bottom: 56.25%;
	position: relative;
  overflow: hidden;
}
.map-responsive iframe {
  width: 100%;
	height: 90%;
  left: 0;
  top: 0;
	border: 0;
  position: absolute;
}
