/*
body {
  font-family: Georgia, serif;
}

header {
  background-image: url("img/food-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0px;
}

.text-gold {
  color: #c90;
}

#header-title {
  color: rgba(255, 255, 255, 0.80);
}

nav {
  font-family: Georgia, serif;
}

#logo {
  max-width: 10rem;
}

#see-the-menu:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

#food-bg-2 {
  background-image: url("img/ingredients-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0px;
}

.text-block {
  background-color: rgba(0, 0, 0, 0.8);
}

.pasta {
  max-width: 67px;
}

#menus {
   width: 100%;
   background-size: cover;
}

#menu {
   margin: auto;
   text-align: center;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 30px 50px 50px 50px;
}

#menu h2 {
   color: #dab33e;
}

#menu section {
   width: 42%;
}

#menu img {
   margin-bottom: 35px;
}

.ligne-prix {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #dab33e;
   padding-bottom: 7px;
}

.plat, .prix {
   font-family: Georgia, serif;
   font-weight: 400;
   color: #dab33e;
   text-align: justify;
}

#menu p {
   text-align: left;
   margin-top: 15px;
}

.content-block {
  padding-top: 70px;
}

#food-bg-3 {
  background-image: url("img/food-bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0px;
}

.rounded-btn{
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
}

#btn-gold{
  background-color: #c90;
}

#btn-gold:hover{
  background-color: #a37a00;
  color: white;
}

#map {
  width: 1100px;
  height: 450px;
   margin: 0 auto 0.1px;
}

footer{
  background-color: rgba(0, 0, 0, 0.9);
}

.decor-small{
  max-width: 192px;
}

/* GENERAL SETTINGS */
body {
	font-family: Georgia, serif;
  font-size: calc(1em + 0.5vw); /* 16px + 6.38px */
	font-weight: 400;
	text-rendering: optimizeLegibility !important;
	position: relative;
	scroll-behavior: smooth;
}

/* TEST */
#test .flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 3px solid silver;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
#test .flex-item {
	width: 100px;
  height: 100px;
  padding: 5px;
  line-height: 100px;
	background: gold;
	font-size: 2em;
	font-weight: bold;
  color: white;
  text-align: center;
}
#test .item-left {
	margin: 0.125rem;
	flex-grow: 0.1;
	align-self: flex-start;
}
#test .item-center {
	margin: auto 0.125rem auto auto;
	flex-grow: 0.5;
}
#test .item-right {
	margin: 0.125rem 0.125rem 0.125rem auto;
	flex-grow: 0.5;
	align-self: flex-end;
}
/* medium screens */
@media all and (max-width: 800px) {
  #test .flex-container {
    justify-content: space-around;
  }
}
/* small screens */
@media all and (max-width: 500px) {
  #test .flex-container {
    flex-direction: column;
  }
	#test .item-left, #test .item-center, #test .item-right {
		width: 97%;
		margin: 0.0625rem;
		align-content: stretch;
		align-self: center;
	}
}
/* TEST */


/* HEADER SECTION */
header {
  height: 100vh;
  min-height: 100vh;
  background-image: url("./img/food-bg-1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#headerNavbar .flex-container {
	display: flex;
	flex-flow: row nowrap; /* direction wrap */
	align-content: flex-start;
	justify-content: space-around;
}
#headerNavbar .logo {
	flex: 1 1 auto; /* grow shrink basis*/
}
#headerNavbar img {
	width: calc(7.5em + 1.5vw); /* 120px */
	height: calc(5em + 1.5vw); /* 80px */
	padding: 0.5rem 0 0 2rem; /* 8px 32px */
}
#headerNavbar button {
	display: none;
}
#headerNavbar ul {
	margin:	auto;
	padding: 0.5rem 2rem 0 0; /* 8px 32px */
	display: inline-flex;
	flex: 1 1 auto; /* grow shrink basis*/
	justify-content: flex-end; /* right */
	list-style-type: none;
	text-decoration: none;
}
#headerNavbar ul > li .active {
	color: #fff;
}
#headerNavbar li > a {
	padding: 0 0.5rem; /* 8px */
	font-size: calc(0.625em + 0.5vw); /* 10px */
	font-weight: bold;
	color: #ddd;
	text-decoration: none;
}
#headerNavbar li > a:hover {
	color: #fff;
	transition: all 0.3s;
}
#headerTitle h1 {
	margin-top: 6rem; /* 96px */
  font-size: calc(3.5em + 1.5vw); /* 48px */
  font-weight: normal;
  color: #ddd;
	text-align: center;
}
#headerTitle .flex-column {
	display: flex;
	flex-flow: column nowrap; /* direction wrap */
	align-content: center;
	justify-content: center;
}
#headerTitle img {
	width: calc(10.5em + 1.5vw); /* 168px */
	height: calc(1.75em + 1.5vw); /* 28px */
	margin: -1rem auto;
}
#headerTitle .flex-row {
	display: flex;
	flex-flow: row nowrap; /* direction wrap */
	align-content: center;
	justify-content: center;
}
#headerTitle a {
	margin: 2rem 1rem; /* 32px 16px */
	padding: 0.75rem; /* 12px */
}
#headerTitle button {
	padding: 0.75rem; /* 12px */
	background-color: transparent;
	border: 0.0625em solid #ddd;
	font-size: calc(0.625em + 0.5vw); /* 48px */
	color: #ddd;
	text-transform: uppercase;
}
#headerTitle button {
	cursor: pointer;
}
#headerTitle #see-the-menu {
	border: none;
}
#headerTitle #see-the-menu:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
}

/* ABOUT SECTION */
#aboutSection {
  height: auto;
  min-height: 100vh;
  background-color: #fff;
}
#aboutSection h1 {
  font-size: calc(1em + 1.5vw); /* 2.5rem */
	font-weight: lighter;
  color: #c90;
}
#aboutSection p {
	font-size: calc(0.5em + 0.5vw);
  color: #6c757d;
}

/* INGREDIENTS SECTION */
#ingredientsSection {
  height: auto;
  min-height: 100vh;
  background-image: url("./img/ingredients-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	text-align: center;
}
#ingredientsSection h1, p {
  color: #fff;
}
#ingredientsSection h1 {
  font-size: calc(2em + 1.5vw);
}

/* MENU SECTION */
#menuSection {
	height: auto;
  min-height: 100vh;
  background-color: #fff;
	text-align: center;
}
#menuSection h2, span {
	color: #c90;
}
#menuSection p {
	font-size: calc(0.5em + 0.5vw); /* 5px */
	color: #000;
}
#menuSection .dish, .price {
  font-family: Georgia, serif;
  font-weight: 400;
  color: #dab33e;
  text-align: justify;
}
#menuSection .ligne-prix {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625em solid #dab33e;
  padding-bottom: 7px;
}

/* REVIEWS SECTION */
#reviewSection {
	height: 100vh;
  min-height: 100vh;
  background-image: url("./img/food-bg-2.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	text-align: center;
}
#reviewSection h1 {
	color: #fff;
	font-size: calc(2em + 1.5vw);
}
#reviewSection p {
	font-size: calc(0.5em + 0.5vw);
}
#reviewSection small {
	color: #6c757d;
}

/* RESERVATION SECTION */
#reservationSection {
	height: auto;
  min-height: 100vh;
	text-align: center;
}
#reservationImage {
	margin: 1rem;
}
#reservationSection h1 {
	color: #c90;
}
#reservationSection p {
	font-size: calc(0.5em + 0.5vw);
	color: #6c757d;
}
#reservationSection label {
	font-size: calc(0.5em + 0.5vw);
	color: #6c757d;
	font-weight: bold;
}

/* CONTACT SECTION */
footer {
	height: auto;
  min-height: 100vh;
	background-color: #000;
	text-align: center;
}
#footerSection h5 {
	color: #fff;
}
#footerSection p, span {
	font-size: calc(0.5em + 0.5vw);
}
#footerSection p {
	color: #6c757d;
}
#footerSection span {
	color: #fff;
}

#mapSection .map-responsive{
	height: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
	align-content: center;
}
#mapSection .map-responsive iframe {
  width: 100%;
	height: 90%;
  left: 0;
  top: 0;
	border: 0;
  position: absolute;
}
