/*
body {
  font-family: Georgia, serif;
}

header {
  background-image: url("img/food-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0px;
}

.text-gold {
  color: #c90;
}

#header-title {
  color: rgba(255, 255, 255, 0.80);
}

nav {
  font-family: Georgia, serif;
}

#logo {
  max-width: 10rem;
}

#see-the-menu:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

#food-bg-2 {
  background-image: url("img/ingredients-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0px;
}

.text-block {
  background-color: rgba(0, 0, 0, 0.8);
}

.pasta {
  max-width: 67px;
}

#menus {
   width: 100%;
   background-size: cover;
}

#menu {
   margin: auto;
   text-align: center;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 30px 50px 50px 50px;
}

#menu h2 {
   color: #dab33e;
}

#menu section {
   width: 42%;
}

#menu img {
   margin-bottom: 35px;
}

.ligne-prix {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #dab33e;
   padding-bottom: 7px;
}

.plat, .prix {
   font-family: Georgia, serif;
   font-weight: 400;
   color: #dab33e;
   text-align: justify;
}

#menu p {
   text-align: left;
   margin-top: 15px;
}

.content-block {
  padding-top: 70px;
}

#food-bg-3 {
  background-image: url("img/food-bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0px;
}

.rounded-btn{
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
}

#btn-gold{
  background-color: #c90;
}

#btn-gold:hover{
  background-color: #a37a00;
  color: white;
}

#map {
  width: 1100px;
  height: 450px;
   margin: 0 auto 0.1px;
}

footer{
  background-color: rgba(0, 0, 0, 0.9);
}

.decor-small{
  max-width: 192px;
}
*/

/* GENERAL SETTINGS */
body {
	font-family: Georgia, serif;
  font-size: calc(1em + 0.5vw); /* 16px + 6.38px */
	font-weight: 400;
	text-rendering: optimizeLegibility !important;
	position: relative;
	scroll-behavior: smooth;
}

/* HEADER SECTION */
header {
  min-height: 100vh;
	padding-bottom: 2rem; /* 32px */
  background-image: url("./img/food-bg-1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* header navbar */
#headerNavbar .flex-container {
	display: flex;
	flex-flow: row nowrap; /* direction wrap */
	justify-content: space-between;
	align-content: center;
}
#headerNavbar .logo-left {
	display: flex;
	flex-wrap: wrap;
}
#headerNavbar .menu-right {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}
#headerNavbar img {
	width: calc(7.5em + 1.5vw); /* 120px */
	height: calc(5em + 1.5vw); /* 80px */
	padding: 0.5rem 0 0 2rem; /* 8px 32px */
}
/* hamburger icon */
#headerNavbar button {
	display: none;
}
#headerNavbar ul {
	margin:	auto;
	padding: 0.5rem 2rem 0 0; /* 8px 32px */
	display: inline-flex;
	list-style-type: none;
	text-decoration: none;
}
#headerNavbar ul > li .active {
	color: #fff;
}
#headerNavbar li > a {
	padding: 0 0.5rem; /* 8px */
	font-size: calc(0.625em + 0.5vw); /* 10px */
	font-weight: bold;
	color: #ddd;
	text-decoration: none;
}
#headerNavbar li > a:hover {
	color: #fff;
	transition: all 0.3s;
}
/* between sm and md screens */
@media (max-width: 868px) {
	#headerNavbar .flex-container {
		display: flex;
		flex-flow: column nowrap; /* direction wrap */
	}
	#headerNavbar .logo-left {
		display: flex;
		justify-content: center;

	}
	#headerTitle img {
		margin: 0;
	}
	#headerNavbar .menu-right {
		display: flex;
		flex-flow: column nowrap;
		align-content: center;
	}
	#headerNavbar ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}
}
/* header title */
#headerTitle .flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}
#headerTitle .center-buttons {
	display: flex;
	flex-wrap: nowrap;
}
#headerTitle img {
	width: calc(10.5em + 3vw); /* 168px */
	height: calc(1.75em + 3vw); /* 28px */
	margin: -1rem auto;
}
#headerTitle a {
	margin: 2rem 1rem; /* 32px 16px */
	padding: 0.75rem; /* 12px */
}
#headerTitle button {
	padding: 0.75rem; /* 12px */
	background-color: transparent;
	border: 0.0625em solid #ddd;
	font-size: calc(0.625em + 0.5vw); /* 48px */
	color: #ddd;
	text-transform: uppercase;
	cursor: pointer;
}
#headerTitle h1 {
	margin-top: 6rem; /* 96px */
  font-size: calc(3.5em + 1.5vw); /* 48px */
  font-weight: normal;
  color: #ddd;
	text-align: center;
}
#headerTitle #see-the-menu {
	border: none;
}
#headerTitle #see-the-menu:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
}

/* ABOUT SECTION */
#aboutSection {
  min-height: 100vh;
	margin: 5rem 2rem 0 2rem; /* 80px 32px */
  background-color: #fff;
	text-align: center;
}
#aboutSection .flex-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#aboutSection .left-side {
	width: 50%;
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	align-items: center;
}
#aboutSection .right-side {
	display: flex;
	justify-content: center;
}
#aboutSection h1 {
  font-size: calc(1em + 1.5vw); /* 2.5rem */
	font-weight: lighter;
  color: #c90;
}
#aboutSection p {
	font-size: calc(0.5em + 0.5vw);
  color: #6c757d;
}
#aboutSection .dish-image {
	width: 80%;
	height: auto%;
}
@media (max-width: 768px) {
	#aboutSection .flex-container {
		display: flex;
		flex-direction: column;
	}
}
/* INGREDIENTS SECTION */
#ingredientsSection {
  height: auto;
  min-height: 100vh;
  background-image: url("./img/ingredients-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	text-align: center;
}
#ingredientsSection h1, p {
  color: #fff;
}
#ingredientsSection h1 {
  font-size: calc(2em + 1.5vw);
}

/* MENU SECTION */
#menuSection {
	height: auto;
  min-height: 100vh;
  background-color: #fff;
	text-align: center;
}
#menuSection h2, span {
	color: #c90;
}
#menuSection p {
	font-size: calc(0.5em + 0.5vw); /* 5px */
	color: #000;
}
#menuSection .dish, .price {
  font-family: Georgia, serif;
  font-weight: 400;
  color: #dab33e;
  text-align: justify;
}
#menuSection .ligne-prix {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625em solid #dab33e;
  padding-bottom: 7px;
}

/* REVIEWS SECTION */
#reviewSection {
	height: 100vh;
  min-height: 100vh;
  background-image: url("./img/food-bg-2.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
	text-align: center;
}
#reviewSection h1 {
	color: #fff;
	font-size: calc(2em + 1.5vw);
}
#reviewSection p {
	font-size: calc(0.5em + 0.5vw);
}
#reviewSection small {
	color: #6c757d;
}

/* RESERVATION SECTION */
#reservationSection {
	height: auto;
  min-height: 100vh;
	text-align: center;
}
#reservationImage {
	margin: 1rem;
}
#reservationSection h1 {
	color: #c90;
}
#reservationSection p {
	font-size: calc(0.5em + 0.5vw);
	color: #6c757d;
}
#reservationSection label {
	font-size: calc(0.5em + 0.5vw);
	color: #6c757d;
	font-weight: bold;
}

/* CONTACT SECTION */
footer {
	height: auto;
  min-height: 100vh;
	background-color: #000;
	text-align: center;
}
#footerSection h5 {
	color: #fff;
}
#footerSection p, span {
	font-size: calc(0.5em + 0.5vw);
}
#footerSection p {
	color: #6c757d;
}
#footerSection span {
	color: #fff;
}

#mapSection .map-responsive{
	height: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
	align-content: center;
}
#mapSection .map-responsive iframe {
  width: 100%;
	height: 90%;
  left: 0;
  top: 0;
	border: 0;
  position: absolute;
}
